<div *ngIf="sentencesToModerate.length > 0; else elseBlock">
    <div class="text-translation funny ">
        <div class="btn1">{{ 'English' }}</div>
        <div class="btn1">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                 class="bi bi-arrow-left-right textnow" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
            </svg>
        </div>
        <div class="btn1">{{ language }}</div>
    </div>
    <div class="card text-center cardvoice">
        <div class="card-body card-maxwidth">

            <p class="card-text orig">
                {{ currentAssignment.sentenceText }}
            </p>
            <p class="card-text">
                {{ currentAssignment.translatedSentenceText }}
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center my-4">
        <audio #audio controls="" >
            <source [src]="currentAssignment.audioLink" type="audio/wav">
        </audio>
    </div>
    <div class="d-flex justify-content-between">
        <button (click)="rejectVoice(currentAssignment.voiceId)" class="btn btn-outline-danger ml-1 ml-md-5 mb-5">Reject</button>
        <button (click)="approveVoice(currentAssignment.voiceId)" class="btn btn-outline-success mr-1 mr-md-5 mb-5">Verify</button>
    </div>
</div>

<ng-template #elseBlock>
    <div class="text-card">
        <div class="card text-center info">
            <div class="card-body">
                <p class="card-text" style="color: #430497;"> No voice recordings to moderate </p>
            </div>
        </div>
    </div>
</ng-template>
