.profiles{
    // background-image: url("/assets/images/vector\ 3.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // padding: 0%;
    background-color: #544AF4;;
}
.back{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
}
.max-width-card{
    max-width: 700px;
    // padding:1rem

}
.padding{
    margin-top: 1rem;
}
.voice{
    margin-bottom: 1rem;
}