.top-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  height: 80px;
}

.main-content{
  margin-top: 90px;
}
