<div class="row">
	<div class="col-lg-3 col-sm-6 col-12">
		<div class="card">
			<div class="card-header">
				<div>
					<h2 class="font-weight-bolder mb-1">{{ statsPerUser?.totalAudiosTranscribed }}</h2>
					<p class="card-text">Transcribed Audios</p>
				</div>
				<div class="avatar bg-light-primary p-50 m-0">
					<div class="avatar-content">
						<i [data-feather]="'headphones'" class="font-medium-5"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-12">
		<div class="card">
			<div class="card-header" style="padding: 1.3rem">
				<div class="d-flex flex-column">
					<h2 class="font-weight-bolder mb-1">{{ statsPerUser?.totalTranscriptionModerated }}</h2>
					<p class="card-text">
						Moderated Transcriptions
					</p>
				</div>
				<div class="avatar bg-light-success p-50 m-0">
					<div class="avatar-content">
						<i [data-feather]="'check-circle'" class="font-medium-5"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-sm-6 col-12">
		<div class="card">
			<div class="card-header">
				<div>
					<h2 class="font-weight-bolder mb-1">{{ statsPerUser?.totalTranscriptionExpertModerated }}</h2>
					<p class="card-text">Expert Moderation</p>
				</div>
				<div class="avatar bg-light-danger p-50 m-0">
					<div class="avatar-content">
						<i [data-feather]="'user-check'" class="font-medium-5"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
