<div *ngIf="sentencesToRecord?.length > 0; else elseBlock">
	<div class="text-translation funny">

		<div class=" btn1 text-uppercase">{{ 'English' }}</div>
		<div class="d-flex align-items-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
				 class="bi bi-arrow-left-right textnow" viewBox="0 0 16 16">
				<path fill-rule="evenodd"
					  d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
			</svg>
		</div>
		<div class=" btn1 text-uppercase">{{ language }}</div>
	</div>
	<div class="card text-center carddisplay mb-2">
		<div class="card-body larger">
			<p class="card-text originalcolors backgrounds p-1 border-1">{{currentAssignment?.sentenceText}}</p>
			<p class="card-text">{{currentAssignment?.translatedSentenceText }}</p>
		</div>
	</div>
	<div class="mb-3">
		<app-record-audio #recordAudioComponent
						  [uploadingAudio]="uploadingAudio"
						  (saveAudio)="saveAudioRecording($event)">
		</app-record-audio>
	</div>
</div>
<ng-template #elseBlock>
	<div class="text-card">
		<div class="card text-center info">
			<div class="card-body">
				<p class="card-text" style="color: #430497;
                  "> No sentences to record audio </p>
			</div>
		</div>
	</div>
</ng-template>
