<div>
	<div *ngIf="audioAssignment?.unreviewedAudios?.length || audioAssignment?.reviewedAudios?.length == 0; else showReviewedSentences">
		<app-audios-to-moderate
			[sentencesToModerate]="audioAssignment?.unreviewedAudios"
			[language]="audioAssignment.language"
			[batchDetailsId]="audioAssignment.batchDetailsId">
		</app-audios-to-moderate>
	</div>
	<ng-template #showReviewedSentences>
		<app-batch-voice-translations
			[recordedSentences]="audioAssignment?.reviewedAudios || []">
		</app-batch-voice-translations>
	</ng-template>
</div>


